<div class="container bg-secondary-b rounded-md mx-auto h-[80%] p-4">
    <div class="w-full h-full flex flex-col gap-2"> 
        <div class="bg-white rounded-md h-[80%]">
            <app-navbar></app-navbar>
            <app-hero-section></app-hero-section>
        </div>
        <div class="bg-white rounded-md h-[20%] flex flex-col gap-4 py-6 items-center w-full px-[2.5%]">
            <h1 class="text-xl font-semibold text-[0.95rem]">Discover Our Partners :</h1>
            <div class="w-full flex gap-16 items-center justify-center">
                <div class="w-[200px] h-[50px]">
                    <img src="assets/images/partner-1.png" class="w-full h-full object-cover" alt="">
                </div>
                <div class="w-[200px] h-[50px]">
                    <img src="assets/images/partner-2.png" class="w-full h-full" alt="">
                </div> 
                <div class="w-[200px] h-[50px]">
                    <img src="assets/images/partners-3.png" class="w-full h-full object-cover" alt="">
                </div> 
                <div class="w-[200px] h-[70px]">
                    <img src="assets/images/partner-4.png" class="w-full h-full" alt="">
            </div>
        </div>
    </div>
</div>