<nav class="w-full h-[60px] flex items-center justify-between px-8">
   <div>
        <h1 class="text-3xl font-semibold">Recycle<span class="text-primary-green">HUB</span></h1>
    </div>
    <div class="flex gap-2 items-center">
        <button class="flex gap-4 items-center px-4 py-2 bg-secondary-b rounded-3xl text-[.9rem] font-medium ">
            <p>Get Contacts</p>
            <img src="assets/images/telephone.png" class="w-[24px] h-[24px]" alt="">
        </button>
        <button class="flex gap-4 items-center px-4 py-2 bg-primary-green rounded-3xl text-[.9rem] text-white font-medium hover:opacity-80">
            <p>Menu</p>
            <img src="assets/images/menu.png" class="w-[24px] h-[24px]" alt="">
        </button>
    </div>
</nav>